---
---

@import "{{ site.theme }}";

#header {
    position: relative;

    display: flex;
    justify-content: space-between;

    #logo {
        font-size: large;
        font-style: italic;
    }

    #title {
    }

    #about {
    }
}