---
---

@import "{{ site.theme }}";

#header {
    #logo {
        font-size: large;
        font-style: italic;
    }

    #title {
        text-align: center;
    }

    #about {
        float: right;
    }
}