---
---

@import "{{ site.theme }}";

#header {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo {
        margin-left: 10px;
        font-size: large;
        font-style: italic;
    }

    #title {
    }

    #about {
        margin-right: 10px;
    }
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
        margin-left: 10px;
    }
    .right {
        margin-right: 10px;
    }
}