---
layout: default
---

{% assign pos = false %}

{% for name in site.data.issue_1 %}
  {% if name == page.name %}
    {% assign pos = forloop.index0 %}
    {% break %}
  {% endif %}
{% endfor %}

{% if pos %}
    {% assign prev_pos = pos | minus: 1 %}
    {% if prev_pos < 0 %}
        {% assign prev_page = nil %}
    {% else %}
        {% assign prev_page = site.pages | where: "name", site.data.issue_1[prev_pos] | first %}
    {% endif %}

    {% assign next_pos = pos | plus: 1 %}
    {% assign too_big = site.data.issue_1 | size %}
    {% if next_pos >= too_big %}
        {% assign next_page = nil %}
    {% else %}
        {% assign next_page = site.pages | where: "name", site.data.issue_1[next_pos] | first %}
    {% endif %}
{% else %}
    {% assign prev_page = false %}
    {% assign next_page = false %}
{% endif %}


<div id="header">
    <span id="logo">
        Zs
    </span>
    <span id="title">
        Issue 1
    </span>
    <span id="about">
        About
    </span>
</div>

<div class="navigation">
    {% if prev_page %}
        <a class="left" href="{{prev_page.url | relative_url}}">
            {{prev_page.title}}
        </a>
    {% endif %}

    {% if next_page %}
        <a class="right" href="{{next_page.url | relative_url}}">
            {{next_page.title}}
        </a>
    {% endif %}
</div>

<div class="wrapper">
    <section>
        <div id="title">
            <h1>{{ page.title }}</h1>
            {% if page.author %}
                <p>
                    by {{ page.author }}
                    {% for auth_link in page.author_links %}
                        <br/>
                        <a class="author-link" href="{{auth_link}}">{{auth_link}}</a>
                    {% endfor %}
                </p>
            {% endif %}
        </div>

        {{ content }}
    </section>
</div>

<div class="navigation">
    {% if prev_page %}
        <a class="left" href="{{prev_page.url | relative_url}}">
            {{prev_page.title}}
        </a>
    {% endif %}

    {% if next_page %}
        <a class="right" href="{{next_page.url | relative_url}}">
            {{next_page.title}}
        </a>
    {% endif %}
</div>
