---
layout: default
---

    {% assign pos = false %}

    {% for name in site.data.issue_1 %}
      {% if name == page.name %}
        {% assign pos = forloop.index0 %}
        <div>found page name in data: {{ name }}</div>
        {% break %}
      {% endif %}
    {% endfor %}

    {% if pos %}
        <div>setting prev_name and next_name</div>
        {% assign prev_name = site.data.issue_1[pos | minus: 1 ] %}
        {% assign next_pos = pos | plus: 1 %}
        {% assign next_name = site.data.issue_1[next_pos] %}
    {% else %}
        <div>page not found</div>
        {% assign prev_name = false %}
        {% assign next_name = false %}
    {% endif %}

<div>
    {% if prev_name %}
        <div>
            Prev is {{prev_name}}
        </div>
    {% endif %}

    {% if next_name %}
        <div>
            Next is {{next_name}}

            Next should be {{ site.data.issue_1[1] }}
        </div>
    {% endif %}
</div>

<div> this should be {{site.data.issue_1[pos]}} </div>
{{ content }}

<div>
    {% if prev_name %}
        <div>
            Prev is {{prev_name}}
        </div>
    {% endif %}

    {% if next_name %}
        <div>
            Next is {{next_name}}
            Next should be {{ site.data.issue_1[1] }}
        </div>
    {% endif %}
</div>