---
layout: default
---

{% assign pos = false %}

{% for name in site.data.issue_1 %}
  {% if name == page.name %}
    {% assign pos = forloop.index0 %}
    {% break %}
  {% endif %}
{% endfor %}

{% if pos %}
    {% assign prev_pos = pos | minus: 1 %}
    {% if prev_pos < 0 %}
        {% assign prev_name = nil %}
    {% else %}
        {% assign prev_name = site.data.issue_1[prev_pos] %}
    {% endif %}

    {% assign next_pos = pos | plus: 1 %}
    {% if next_pos >= site.data.issue_1 | size %}
        {% assign next_name = nil %}
    {% else %}
        {% assign next_name = site.data.issue_1[next_pos] %}
    {% endif %}
{% else %}
    {% assign prev_name = false %}
    {% assign next_name = false %}
{% endif %}


<div id="header">
    <div class="header-boyz">
        <span id="logo">
            Zs
        </span>
        <span id="title">
            Issue 1
        </span>
        <span id="about">
            About
        </span>
    </div>
</div>

<div class="wrapper">
    <div class="navigation-head">
        {% if prev_name %}
            <li><a class="fork">
                Prev is {{prev_name}}
            </a></li>
        {% endif %}

        {% if next_name %}
            <li><a class="downloads">
                Next is {{next_name}}
            </a></li>
        {% endif %}
    </div>
  <section class="blooogin">
    <div id="title">
      <h1>{{ site.title | default: site.github.repository_name }}</h1>
      <p>{{ site.description | default: site.github.project_tagline }}</p>
    </div>

    {{ content }}

  </section>

</div>

<div>
    {% if prev_name %}
        <div>
            Prev is {{prev_name}}
        </div>
    {% endif %}

    {% if next_name %}
        <div>
            Next is {{next_name}}
        </div>
    {% endif %}
</div>

{{ content }}

<div>
    {% if prev_name %}
        <div>
            Prev is {{prev_name}}
        </div>
    {% endif %}

    {% if next_name %}
        <div>
            Next is {{next_name}}
        </div>
    {% endif %}
</div>